<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UTS AI - Genetic Algorithm</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://i.ibb.co/f49tsXT/logo.png" type="image/x-icon">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <!-- CDN Fontawesome -->
    <script src="https://kit.fontawesome.com/97352e191c.js" crossorigin="anonymous"></script>

    <!-- CDN Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

    <!-- CDN AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Styling -->
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
        }

        .c-pointer {
            cursor: pointer;
        }

        .logo-navbar {
            width: 15%;
        }

        .logo-footer {
            width: 50%;
        }

        .hero {
            height: 87vh;
            background-image: url('https://i.ibb.co/c35RDrg/bg.jpg');
            background-size: cover;
        }

        .hero-ilus {
            width: 100%;
            margin-top: 150px;
        }

        .hero-desc {
            margin-top: 130px;
        }

        .hero-desc-title {
            font-size: 4rem;
        }

        .desc {
            padding-top: 100px;
            padding-bottom: 100px;
            background-image: url('https://i.ibb.co/c35RDrg/bg.jpg');
            background-size: cover;
        }

        .hr-divider {
            width: 200px;
            border-bottom: 3px solid black;
            margin-bottom: 50px;
        }

        .text-justify {
            text-align: justify !important;
        }

        .footer-divider {
            border-bottom: 1px solid white;
        }

        @media (max-width: 576px) {
            .logo-navbar {
                width: 200px;
            }
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="https://i.ibb.co/BNbBNGW/logo.png" alt="Logo UPI" class="logo-navbar">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link mx-2 active" href="/">Home</a>
                    <a class="nav-link mx-2" href="/generate">Generate</a>
                    <a class="nav-link mx-2" href="/team">Team</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- HERO SECTION -->
    <section class="hero">
        <div class="container">
            <div class="row">
            <div class="col-lg-6">
                <div class="hero-desc" data-aos="fade-right">
                    <h1 class="hero-desc-title mb-5">Genetic Algorithm</h1>
                    <p class="mb-5">Algoritma genetika adalah kelas khusus dari algoritma evolusioner dengan menggunakan teknik yang terinspirasi oleh biologi evolusioner seperti warisan, mutasi, seleksi alam dan rekombinasi (atau crossover). Dalam algoritma ini ada dua hal yang perlu untuk direpresentasikan, yaitu representasi genetik dari solusi dan fungsi untuk mengevaluasi solusi tersebut.</p>
                    <a href="/#desc" class="btn btn-outline-dark">Pelajari Selengkapnya <i class="fas fa-long-arrow-alt-down ms-2"></i></a>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <img src="https://i.ibb.co/bbJvdXM/ilus.png" alt="Ilustrasi" class="hero-ilus" data-aos="fade-left">
            </div>
            </div>
        </div>
    </section>

    <!-- DESC SECTION -->
    <section class="desc" id="desc">
        <div class="container">
            <center data-aos="fade-up">
                <h3>PENJELASAN</h3>
                <div class="hr-divider"></div>
                <p class="w-75 text-justify">Algoritma genetika adalah kelas khusus dari algoritma evolusioner dengan menggunakan teknik yang terinspirasi oleh biologi evolusioner seperti warisan, mutasi, seleksi alam dan rekombinasi (atau crossover). Dalam algoritma ini ada dua hal yang perlu untuk direpresentasikan, yaitu representasi genetik dari solusi dan fungsi untuk mengevaluasi solusi tersebut. Secara umum, langkah-langkah dalam algoritma ini dimulai dengan menyimpan beberapa calon solusi (population). Masing-masing individu dalam populasi tadi akan dievaluasi dan diambil individu-individu terbaik. Kemudian reproduksi dan evolusi dilakukan secara bertahap dengan menerapkan proses crossover (persilangan) dan mutation (mutasi). Hal ini akan dilakukan terus menerus sampai ditemukan solusi yang nilai evaluasinya memenuhi keinginan, atau sampai jumlah iterasi maksimal terpenuhi.</p>
            </center>
            <br>
            <center class="mt-5">
                <h3 data-aos="fade-up">ALUR PROSES</h3>
                <div class="hr-divider" data-aos="fade-up"></div>
                <h5 data-aos="fade-up">Buat Individu Random</h5>
                <p class="mb-0 w-50" data-aos="fade-up">Membuat satu individu dengan gen secara random</p>
                <h1 class="mt-4 mb-4" data-aos="fade-up"><i class="fas fa-long-arrow-alt-down"></i></h1>
                <h5 data-aos="fade-up">Fitness/Cost Function</h5>
                <p class="mb-0 w-50" data-aos="fade-up">Menentukan nilai dari individu (timetable) yang sudah dibuat berdasarkan constraint yang telah ditentukan, semakin kecil nilai cost pada tabel maka tabel semakin baik</p>
                <h1 class="mt-4 mb-4" data-aos="fade-up"><i class="fas fa-long-arrow-alt-down"></i></h1>
                <h5 data-aos="fade-up">Generate Population</h5>
                <p class="mb-0 w-50" data-aos="fade-up">Membuat populasi berisi n individu</p>
                <h1 class="mt-4 mb-4" data-aos="fade-up"><i class="fas fa-long-arrow-alt-down"></i></h1>
                <h5 data-aos="fade-up">Selection</h5>
                <p class="mb-0 w-50" data-aos="fade-up">Memilih dua individu yang terbaik (memiliki nilai cost terkecil) di antara populasi yang telah dihasilkan pada proses generate population</p>
                <h1 class="mt-4 mb-4" data-aos="fade-up"><i class="fas fa-long-arrow-alt-down"></i></h1>
                <h5 data-aos="fade-up">Crossover</h5>
                <p class="mb-0 w-50" data-aos="fade-up">Menukar beberapa gen dari dua individu yang telah dipilih pada proses selection untuk menghasilkan individu baru. Dalam algoritma ini, yang tukar adalah jadwal kelas VII</p>
                <h1 class="mt-4 mb-4" data-aos="fade-up"><i class="fas fa-long-arrow-alt-down"></i></h1>
                <h5 data-aos="fade-up">Mutation</h5>
                <p class="mb-0 w-50" data-aos="fade-up">Memodifikasi gen dalam individu baru yang telah melalui proses crossover dengan merandom jadwal dalam satu hari. Laju mutasi digunakan untuk menentukan apakah suatu jadwal dalam satu hari di suatu kelas akan di-random atau tidak. Jika angka random lebih kecil atau sama dengan laju mutasi, maka jadwal pada hari dan kelas tersebut akan di-random</p>
                <h1 class="mt-4 mb-4" data-aos="fade-up"><i class="fas fa-long-arrow-alt-down"></i></h1>
                <h5 data-aos="fade-up">Reassign Population</h5>
                <p class="mb-0 w-50" data-aos="fade-up">Mengeliminasi individu yang nilai cost-nya paling tinggi dan memasukkan individu baru hasil crossover dan mutasi ke populasi</p>
                <h1 class="mt-4 mb-4" data-aos="fade-up"><i class="fas fa-long-arrow-alt-down"></i></h1>
                <h5 data-aos="fade-up">Main Looping and Termination</h5>
                <p class="mb-0 w-50" data-aos="fade-up">Program utama mulai dari mengambil data input. Kemudian membuat populasi serta melakukan proses selection, crossover, sampai mutation untuk menghasilkan individu yang terbaik. Perulangan terus terjadi hingga konvergen atau sampai pada maksimal iterasi</p>
                <h1 class="mt-4 mb-4" data-aos="fade-up"><i class="fas fa-long-arrow-alt-down"></i></h1>
                <h5 data-aos="fade-up">Logging</h5>
                <p class="mb-0 w-50" data-aos="fade-up">Membuat dan menampilkan proses yang terjadi selama algoritma dijalankan</p>
                <h1 class="mt-4 mb-4" data-aos="fade-up"><i class="fas fa-long-arrow-alt-down"></i></h1>
                <h5 data-aos="fade-up">DONE</h5>
            </center>
        </div>
    </section>

    <!-- FOOTER SECTION -->
    <footer class="footer bg-dark text-center text-white p-4">
        <div class="container">
            <p class="mb-0">Copyrights © 2022 All Rights Reserved by Kelompok 5 C1 2021</p>
        </div>
    </footer>

    <!-- CDN Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- CDN AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- Init AOS -->
    <script>
        AOS.init();
    </script>

</body>
</html>