<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UTS AI - Genetic Algorithm</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://i.ibb.co/f49tsXT/logo.png" type="image/x-icon">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <!-- CDN Fontawesome -->
    <script src="https://kit.fontawesome.com/97352e191c.js" crossorigin="anonymous"></script>

    <!-- CDN Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

    <!-- CDN AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Styling -->
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
        }

        .c-pointer {
            cursor: pointer;
        }

        .logo {
            width: 15%;
        }

        .team {
          margin-top: 60px;
          margin-bottom: 80px;
        }

        .hr-divider {
          width: 200px;
          border-bottom: 3px solid black;
          margin-bottom: 50px;
        }

        @media (max-width: 576px) {
            .logo {
                width: 200px;
            }
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 sticky-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="https://i.ibb.co/BNbBNGW/logo.png" alt="Logo UPI" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link mx-2" href="/">Beranda</a>
            <a class="nav-link mx-2" href="/generate">Generate</a>
            <a class="nav-link mx-2 active" href="/team">Team</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- TEAM SECTION -->
    <section class="team">
      <div class="container">
        <center data-aos="fade-up">
          <h3>TEAM</h3>
          <div class="hr-divider"></div>
        </center>
        <div class="row mb-5" data-aos="fade-down">
          <div class="col-lg-3 mb-3">
            <div class="card shadow rounded">
              <div class="card-body text-start p-4">
                <center><img src="http://cdn.onlinewebfonts.com/svg/img_264570.png" alt="Avatar" class="w-75 mb-5"></center>
                <p>NIM : 2103703</p>
                <p>Nama : Fauziyyah Zayyan</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mb-3">
            <div class="card shadow rounded">
              <div class="card-body text-start p-4">
                <center><img src="http://cdn.onlinewebfonts.com/svg/img_264570.png" alt="Avatar" class="w-75 mb-5"></center>
                <p>NIM : 2100137</p>
                <p>Nama : Muhamad Nur Yasin</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mb-3">
            <div class="card shadow rounded">
              <div class="card-body text-start p-4">
                <center><img src="http://cdn.onlinewebfonts.com/svg/img_264570.png" alt="Avatar" class="w-75 mb-5"></center>
                <p>NIM : 2108927</p>
                <p>Nama : Muhammad Fahru</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mb-3">
            <div class="card shadow rounded">
              <div class="card-body text-start p-4">
                <center><img src="http://cdn.onlinewebfonts.com/svg/img_264570.png" alt="Avatar" class="w-75 mb-5"></center>
                <p>NIM : 2102843</p>
                <p>Nama : Najma Qalbi</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER SECTION -->
    <footer class="footer bg-dark text-center text-white p-4">
      <div class="container">
          <p class="mb-0">Copyrights © 2022 All Rights Reserved by Kelompok 5 C1 2021</p>
      </div>
    </footer>

    <!-- CDN Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- CDN AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- Init AOS -->
    <script>
        AOS.init();
    </script>

</body>
</html>